<footer>


    <div class="footer-info">
        <div class="social-links">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="companyCopyrights">
            <i class="fa-solid fa-copyright"></i> Wanderlust private Limited
        </div>
    
        <div class="termsandConditions">
            <a href="/privacy">Privacy</a>
            <a href="/terms">terms</a>
        </div>
    </div>
</footer>