<% layout('/layouts/boilerplate.ejs') -%> 
<body>
    <div class="row">
        <div class="col-8 offset-2">

        <h1>Add your Listing </h1>


        <form method="post" action="/signUp" novalidate class="needs-validation">



            <div class="mb-3">
                <label for="username"  class="form-label"> Enter Your username </label>
                <input  class="form-control"  type="text" name="username" placeholder="Enter your Username here ." required value="<%= sessionUsername || '' %>">  
                <div class="valid-feedback">
                    Username looks good                
                </div>
                <div class="invalid-feedback">
                    Please enter the username 
                </div>
            </div>

            <div class="mb-3">
                <label for="email"  class="form-label"> Enter your email</label>
                <input  class="form-control"  type="email" name="email" placeholder="Enter your email here ."  value=" <%= sessionEmail || ''  %> " required>
                <div class="valid-feedback">
                    email looks good                
                </div>
                <div class="invalid-feedback">
                    Please enter the email 
                </div>
            </div>

            <div class="mb-3">
                <label for="password"  class="form-label"> Enter Your password </label>
                <input  class="form-control"  type="password" name="password" placeholder="Enter your Username here ." required>
            </div>
   
            <button class="btn btn-primary mb-3  addListBtn">SignUp</button>
            <!-- shift  alt down  to duplicate the line or lines 
            shift  alt down  -->
        </form>
    </div>
    
    </div>
</body>

